html {
  font-size: 100%;
}
body {
  color: black;
  margin: 0 auto;
  font-size: 0.7rem;
  max-width: 1000px;
  font-family: 'Raleway', sans-serif;
}
a{
  color: black;
  text-decoration: none;
}
img{
     max-width: 100%;
}
li{
    list-style: none;
}
.logo{
    width: 100px;
    margin: 0 auto 35px;
}
header{
    padding: 10px 0 20px 0;
    margin: 20px auto 50px;
    border-bottom: solid 1px gainsboro;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link{
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.link li{
    margin-right: 20px;
}
.login{
    margin-right: 100px;
    display: flex;
    align-items: center;
}
.login li{
    margin-left: 20px;
}
.contents{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.item{
    max-width: 60%;
    height: auto;
    margin-right: 60px;
}
.order{
    max-width: 40%;
}
.order p{
    margin-bottom: 30px;
    line-height: 1.9;
}
.order .title{
    height: 60px;
    display: flex;
    align-items: center;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 0.86rem;
    margin-bottom: 20px;
}
.order .order-table{
    width: 100%;
    margin-bottom: 20px;
}
.color{
    width: 20%;
}
.size{
    width: 20%;
}
.order-table td{
    border-top: solid 1px gainsboro;
}

.order-table th{
    font-weight: lighter;
    padding: 10px;
    border-right: solid 1px gainsboro;
    text-align: center;
}
.order-table th:last-child{
    border-right: none;
}
.order-table td{
    padding: 10px;
    border-right: solid 1px gainsboro;
    text-align: center;
}
.order-table td:last-child{
    border-right: none;
}
.order-table select{
    width: 100%;
    border: solid 1px black;
    padding-left: 10px;
}
.btn{
    width: 100%;
    background-color: black;
    color: white;
    display: block;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.size-table{
    width: 100%;
    border: solid 1px black;
}
.size-table .size{
    width: 18%;
}
.chest{
    width: 27%;
}
.weist{
    width: 27%;
}
.height{
    width: 27%;
}
.size-table th{
    background-color: gainsboro;
    font-weight: lighter;
    padding: 10px 0;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    text-align: center;
}
.size-table td{
    font-weight: lighter;
    padding: 10px 0;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    text-align: center;
}
.size-table th:last-child{
    border-right: none;
}
.size-table td:last-child{
    border-right: none;
}
.size-table .l-size th{
    border-bottom: none;
}
.size-table .l-size td{
    border-bottom: none;
}
footer{
    padding: 10px 0;
}
.copyright{
    font-size: 0.6rem;
    text-align: center;
}
  
@media screen and (max-width: 896px){
  
    .logo{
        margin: 5px auto;
    }
    header{
        margin: 10px auto 0px;
        border-bottom: none;
        padding: 20px;
    }
    nav{
        overflow-x: scroll;
    }
    .link{
        margin-left: 0;
    }
    .contents{
        flex-direction: column;
    }
    .item{
        max-width: 896px;
        margin-right: 0;
    }
    .item img{
        width: 100%;
    }
    .order{
        max-width: 896px;
        padding: 0 10px;
    }
}